<html>
  <head>
    <!-- Set the Title in the Browser Window Bar -->
    <title>Square Cafe</title>

    <link rel="stylesheet" type="text/css" href="square.css" />
  </head>
  <body>
    <div id="headmast">
      <h1>Square Cafe</h1>
      <h2>716 Congress, Suite 404, Austin, TX</p>
    </div>

    <div id="main">
      <div id="sidebar">
        <div id="picture">
          <img src="cappucino.jpg" width="160" />
        </div>

        <a class="twitter-timeline" href="https://twitter.com/MakerSquareCafe" data-widget-id="353241485782700032">Tweets by @MakerSquareCafe</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>
      <div class="panel">
        <h2>What Would You Like?</h2>


        <form>
          <div>
            <!-- See this "drink[]" name? -->
            <!-- This is turned into an array of items -->
            <select name="drink[]">
              <option>Please select a drink</option>
              <optgroup label="Coffee">
                <option data-price="200" value="house">House Coffee — $2.00</option>
                <option data-price="200" value="iced">Iced Coffee — $2.00</option>
                <option data-price="200" value="bold">Bold Coffee — $2.00</option>
              </optgroup>
              <optgroup label="Espresso">
                <!-- See this 'data-price' attribute? -->
                <!-- We can create arbitrary attributes in HTML5 by prepending the attribute name with 'data-' -->
                <option data-price="300" value="americano">Americano — $3.00</option>
                <option data-price="200" value="espresso">Espresso — $2.00</option>
                <option data-price="350" value="cappucino">Cappucino — $3.50</option>
              </optgroup>
              <optgroup label="Teas">
                <option data-price="300" value="green">Green Tea — $3.00</option>
                <option data-price="300" value="black">Black Tea — $3.00</option>
                <option data-price="300" value="peach">Peach Tea — $3.00</option>
              </optgroup>
            </select>
          </div>

          <dl>
            <dt># of Drinks</dt>
            <dd id="drinks">0</dd>

            <dt>Cost</dt>
            <dd id="cost">$0.00</dd>
          </dl>
        </form>
      </div>


      <div class="panel">
        <h2>Where We're At</h2>
        <iframe
          width="100%"
          height="450"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=austin+tx&amp;aq=&amp;sll=30.307761,-97.753401&amp;sspn=0.679342,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Austin,+Travis,+Texas&amp;ll=30.307689,-97.753601&amp;spn=0.679622,1.352692&amp;t=m&amp;z=10&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=austin+tx&amp;aq=&amp;sll=30.307761,-97.753401&amp;sspn=0.679342,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Austin,+Travis,+Texas&amp;ll=30.307689,-97.753601&amp;spn=0.679622,1.352692&amp;t=m&amp;z=10" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>

    </div>

    <div id="footer">
      Copyright &copy; 2013
    </div>

  </body>
</html>
